<div>
    <strong>Selected users:</strong> {{ data | filter:{"$selected": true} }}
</div>
<button class="btn btn-default" ng-click="tableParams.data[1].$selected = true">Select second row</button>
<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
    <tr ng-repeat="user in $data"
        ng-click="user.$selected = !user.$selected; changeSelection(user)"
        ng-class="{'active': user.$selected}">
        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
            {{user.name}}
        </td>
        <td data-title="'Age'" sortable="'age'" filter="{ 'age': 'text' }">
            {{user.age}}
        </td>
    </tr>
</table>
</div>