html {
	height: 100%;
}

body {
	padding-bottom: 40px;
	background-color: #F6F6F6;
}

label {
	display: inline !important;
	margin-right: 5px;
	text-align: right !important;
	line-height: 2em;
	padding-left: 2em;
}
div.form-label{
	float: left;
	width: 40%;
}

div.form-input{
	float: right;
	width: 58%;
}

.sidebar-nav {
	padding: 9px 0;
}

#west-panel {
	margin-left: 5px !important;
}
#container {
	margin: 0 5px 5px 5px;	
}
.gap {
	width: 3em;
	display: inline-block;
}

#model-panel, #properties-panel {
	border: 1px solid #E5E5E5;
	background-color: white;
	padding: 10px;	
}

#palette-panel {
	padding: 0 10px 10px 10px;
}

.panel-title {
	position: relative;
	top: -7px;
	left: -11px;
	padding: 5px;
	margin: 0;
	display: inline;
	background-color: #F6F6F6;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 6px 0 6px 0;
       -moz-border-radius: 6px 0 6px 0;
            border-radius: 6px 0 6px 0;
	
}

.panel-title span {
	color: #999999;
}

.small-rounded {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.sortable {
	min-height: 3em;
}
.large-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.form-item {
	border: 1px solid #E5E5E5;
	padding: 3px;
	margin: 5px;
	background-color: #FFF;
	
}


.form-item .content {
	padding: 0 20px 0 10px; 
}


.form-item .content p {
	margin-bottom: 0;
}

.form-item table {
	width: 100%;
	border-color: white;
	background-color: white;
}

.form-item .menu {
	width: 6em;
	font-size: 80%;
	height: 7.5em;
}

.form-item ul{
	list-style: none;
	margin: 0;
	line-height: 1em;
}


.clearb {
	clear: both;
}

 .ui-state-highlight { height: 3em; line-height: 1.2em; }

#accordion h5 {
/*	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5; */
	text-transform: uppercase;
	color: #999999;
	cursor: pointer;
}

#accordion h5 i{
	width: 4em;
}
#accordion ul {
	margin: 0;
}

li.palette-option{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	background-color: #0088CC;
	width: 17em;
	height: 3em;
	color: #FFFFFF;
	line-height: 3em;
	margin: 4px;
	list-style: none;
	cursor: pointer;	
}

.menu-content li{
	cursor: pointer;
}

.hover{
	border-color: #0088CC;
	background-color: #AACCFF;
}

.linkhover{
	color: #0088CC;
}

.selected{
	background-color: #AACCFF;
}

.selected table{
	background-color: #DDEEFF;
}


#properties-table {
	width: 100%;
	border: 1px solid #000000;
	border-collapse: collapse;
}

#properties-table th {
	text-align: left;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #E5E5E5;
}

#properties-table td {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-left: 3px;
}



#footer {
	text-align: center;
}

.alert p{
	margin: 5px;
}

input[disabled], 
select[disabled], 
textarea[disabled], 
input[readonly], 
select[readonly], 
textarea[readonly] {
	cursor: auto !important;	
}

@media (max-width: 980px) {
  
	/* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}	