.sidebar-nav {
	padding: 9px 0;
	overflow: auto;
}
#headerWrapper {
	width:100%;
	background-color:black;
	position:fixed;
	top:0;left:0;
  z-index:10000;
	height:45px;
  padding:0;
  opacity:0.8;
}

#left-panel {
	top:45px;
}
#properties-panel{
	top:45px;
}

#header {
	margin-top:0;
  height:44px;
  font-size:13px;
	margin-left:auto;
	margin-right:auto;    
  width:950px;
  background-image:url(logo_bw_44h.jpg);
  background-repeat:no-repeat;    
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
#main {  
  margin-top:44px;
  position: relative;
  font-size: 80%;    
}

#sidepanel{            
  width: 420px;
  font-size: 12px;
  position: fixed;
  right: 10px;
  top: 45px; 
  background-color: #EEF3E2;   
}
#topbar {            
  /*width: 420px;*/
  font-size: 12px;
  position: fixed;
  left: 20px;
  top: 1px;    
}

#tpbt {
	background-color: red;
	color: red;
	left: 20px;
    top: 1px;  
} 

#demo {
	margin-top: 5em;
}

/** COMMON ELEMENT PROPERTIES **/
.shape {
    z-index:2;
    opacity:0.7;
    filter:alpha(opacity=70);
    position:absolute;
    cursor:pointer;
    text-align:center;
    color:#333;
}
.decisionpoint{
	z-index:2;
    opacity:0.7;
    filter:alpha(opacity=70);
    position:absolute;
    cursor:pointer;
    text-align:center;
    color:#333;
    width:150px;
    height:150px;
    left:150px;
    top:150px;
    line-height: 150px;
    background-image:url(diamond.png);
}
.processpoint{
	z-index:2;
    opacity:0.7;
    filter:alpha(opacity=70);
    position:absolute;
    cursor:pointer;
    text-align:center;
    color:#333;
    width:210px;
    height:70px;
    background-image:url(ellipse.png);
}
 
.pwNode {
/*	width: 5em; */
	padding: 2em;
	position: absolute;
	z-index: 4;
	border-radius: 1em;
	border: 1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity =   80);
	cursor: move;
	background-color: white;
	font-size: 11px;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
	/*background-image:url(rectangle.png);*/
}

.pwNode:hover {
	background-color: #5c96bc;
	color: white;
	border:2px solid orange; 
}

.dropHover { 
	border:1px solid orange; 
}


.aLabel {
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover,._jsPlumb_source_hover,._jsPlumb_target_hover {
	background-color: #1e8151;
	color: white;
}

.aLabel {
	background-color: white;
	opacity: 0.8;
	padding: 0.3em;
	border-radius: 0.5em;
	border: 1px solid #346789;
	cursor: pointer;
}

.ep {
	display: none;
	position: absolute;
	width: 1em;
	height: 1em;
	background-color: green;
	cursor: pointer;
	font-size: 125%;
	/* box-shadow: 0px 0px 2px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
	-moz-transition: -moz-box-shadow 0.25s ease-in;
	transition: box-shadow 0.25s ease-in; */
}

.right {
	bottom: 37%;
	right: 0;
	
}
.left {
	bottom: 37%;
	left: 0;
	
}
.up {
	top: 0;
	right: 47%;
	
}
.down {
	bottom: 0%;
	right: 46%;
	
}

/*.ep:hover {
	box-shadow: 0px 0px 6px black;
}*/

._jsPlumb_endpoint {
	z-index: 3;
}

.dragHover {
	border: 2px solid orange;
}

path {
	cursor: pointer;
}

